// @import url('./reset.scss');
// @import url('./_vars.scss');
// @use 'reset';
// @use 'vars';

body {
  background-color: $main-background;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  & #app {
    color: #fff;
    height: 100vh;

    //* class hidden qui permettra de cacher un élément du dom
    & .hidden {
      display: none;
    }

    & .page {
      padding: 2rem;
      // border: 1px solid red;
    }
  }

  /* & .header {
    background-color: red;
  } */
}